
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --light-gray: hsl(0, 0%, 95%);

    --font-title: 'Big Shoulders Display', cursive;
    --font-text: 'Lexend Deca', sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--light-gray);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ===== CONTAINER ===== */
.card-container {
    margin: 4rem 2rem;
}

.card-container .card {
    padding: 2.5rem 2.5rem 0 2.5rem;
    height: 28rem;
}

/* ===== Headings ===== */
.card h1 {
    font-family: var(--font-title);
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--light-gray);
    margin: 2rem 0;
}

/* ===== Paragraphs ===== */
.card p {
    font-family: var(--font-text);
    font-weight: 400;
    line-height: 1.7;
    color: var(--light-gray);
    max-width: 38rem;
    max-height: 8.53rem;
    margin-bottom: 22%;
}

/* ===== Buttons ===== */
.card a {
    background-color: var(--light-gray);
    padding: 0.8rem 1.8rem;
    border: none;
    border-radius : 32px;
    font-family: var(--font-text);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

/* ===== Container Sedans ===== */
.sedans {
    background-color: var(--orange);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sedans a {
    color: var(--orange);
}

.sedans a:hover {
    background-color: var(--orange);
    color: var(--light-gray);
    border: 2px solid var(--light-gray);
    transition: all 200ms ease;
}

/* ===== Container SUVs ===== */
.suvs {
    background-color: var(--dark-cyan);
}

.suvs a {
    color: var(--dark-cyan);
}

.suvs a:hover {
    background-color: var(--dark-cyan);
    color: var(--light-gray);
    border: 2px solid var(--light-gray);
    transition: all 200ms ease;
}

/* ===== Container Luxury ===== */
.luxury {
    background-color: var(--very-dark-cyan);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.luxury a {
    color: var(--very-dark-cyan);
}

.luxury a:hover {
    background-color: var(--very-dark-cyan);
    color: var(--light-gray);
    border: 2px solid var(--light-gray);
    transition: all 200ms ease;
}

/* ===== FOOTER ===== */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* ===== MEDIA QUERIES ===== */
@media (min-width: 911px) {
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 54.5rem;
        margin: 0;
    }

    .card-container .card {
        min-height: 32rem;
    }

    .card p {
        margin-bottom: 45%;
    }

    .sedans {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }

    .luxury {
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }
}